<% if @users %>
  <div class="row">
    <% @users.each do |user| %>
      <% if user.information.present? %>
        <div class="information">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="panel panel-default">
              <div class="icon text-center panel-heading">
                <img src="<%= gravatar_url(user, size: 100) %>" alt="" class="img-circle">
              </div>
              <div class="panel-body">
                <p class="information-title name"><%= link_to user.name, user %></p>
                <% @information = user.information  %>
                <p class="information-title"><%= @information.highschool %></p>
                <p class="information-title"><%= @information.university %></p>
                <p class="information-title"><%= @information.faculty %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @users %>
<% end %>