<div class="user-profile">
  <div class="icon text-left">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <% if @user != current_user %>
    <div class = "follow text-right">
      <%= render 'relationships/follow_button', user: @user %>
    </div>
  <% end %>
  <div class="name text-left">
    <h1><%= @user.name %></h1>
  </div>
  <% if @information %>
    <table class = "table table-bordered">
      <tr>
        <td width = "100">高校</td>
        <td><%= @information.highschool %></td>
      </tr>
      <tr>
        <td width = "100">大学</td>
        <td><%= @information.university %></td>
      </tr>
      <tr>
        <td width = "100">学部</td>
        <td><%= @information.faculty %></td>
      </tr>
      <tr>
        <td width = "100">経験</td>
        <td><%= simple_format(@information.content) %></td>
      </tr>
    </table>
    </div>
    <% if @user == current_user %>
      <div>
        <%= link_to "編集", edit_information_path(@information), class: 'btn btn-default btn-xs'%>
        <%= link_to "削除", information_path, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-xs' %>
      </div>
    <% end %>
    <% if @user != current_user and @information %>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading">質問する</div>
            <div class="panel-body">
              <%= form_for(@comment, url: "/users/#{@user.id}/comment") do |f| %>
                <div class="form-group">
                  <%= f.label :email, 'メールアドレス' %>
                  <%= f.email_field :email, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :content, '質問' %>
                  <%= f.text_area :content, class: 'form-control' %>
                </div>

                <div class="text-right">
                  <%= f.submit '質問する', class: 'btn btn-success' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
